<h4>Updated employee details with adding update to its data.</h4>

<!-- <label>Employee Name:
    <input type="text" id="username" name="username" #username
           ng-pattern="example.word" required ng-trim="false">
</label>
  <br>
  <br>
<label>Employee Location: Dropdown List:
    <select name="users" ng-model="userSelect" #userselect>
        <option value="Chennai">Channai</option>
        <option value="Bengalore">Bengalore</option>
        <option value="Pune">Pune</option>
        <option value="Hyderabad">Hyderabad</option>
    </select>
</label>
<br>
<br>
<button type="button">Update</button> -->